node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files
*.log
*.tmp
*.temp

# Android
# android/  # ต้อง commit android folder เพื่อให้ GitHub Actions build ได้
android/app/build/
android/app/.cxx/
android/.gradle/
android/build/
*.apk
*.aab
*.keystore

# iOS
ios/

# EAS
.eas/

# Environment
.env
.env.local
