node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files
*.log
*.tmp
*.temp

# Android
android/
*.apk
*.aab
*.keystore

# iOS
ios/

# EAS
.eas/

# Environment
.env
.env.local
